

@font-face{
    font-family: 'BioRhyme';
    src: url("BioRhyme.ttf") format("openType");
}

@font-face{
    font-family: 'Comfortaa';
    src: url("Comfortaa.ttf") format("openType");
}

@font-face{
    font-family: 'IndieFlower';
    font-weight: bold;
    src: url("IndieFlower.ttf") format("openType");
}

@font-face{
    font-family: 'Righteous';
    src: url("Righteous.ttf") format("openType");
}